@page "/"

<PageTitle>Index</PageTitle>

<h1>This is pretty neat!</h1>

Welcome to your new app.

<div class="text-center">
    <h1 class="display-4">👽Welcome Earthlings!</h1>
</div>
<div>
    <p>Getting started with Blazor V</p>

    <ul>
    <li>To work live on the web content:
        <br>
        CMD &gt;
        <b>
            dotnet watch run --launch-profile hotreloadprofile
        </b>
    </li>
    </ul>

    <a href="https://www.pragimtech.com/blog/blazor/blazor-hosting-models/" target="_blank">🖥 Hosting Models</a>

    <img src="https://www.pragimtech.com/blog/contribute/article_images/Blazor%20Server%20hosting%20model.png" width=400>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="https://dotnet.microsoft.com/en-us/learn/aspnet/blazor-tutorial/intro">Create your first Blazor app.</a>

    <br>VSCode tips:
    <br>To run in hot reload mode: dotnet watch run
    <br>To recompile: ctrl-shift-B


</div>




<SurveyPrompt Title="How is Blazor working for you?" />
